/* Fonts */

@font-face {
  font-family: "Ticketing";
  src: url(/fonts/basiic.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "ss4";
  src: url(/fonts/ss4.ttf);
}

@font-face {
  font-family: "JetBrains";
  src: url(/fonts/JetBrainsMono[wght].ttf);
}

body {
  background-color: #1c141e;
  color: white;
  font-family: "ss4";
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

/* Always Dark Mode Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1c141e;  /* Dark track background - constant dark mode*/
}

::-webkit-scrollbar-thumb {
    background: #3a2441;   /* Darker thumb color */
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #3a2441;
}

/* Firefox - Always Dark Mode */
html {
    scrollbar-color: #3a2441 #1c141e; /* Thumb and track colors */
    scrollbar-width: thin;       /* Optional: Thin scrollbar width */
}

nav {
  background-color: #3a2441;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  z-index: 10;
  margin-bottom: 20px;
  font-family: "Ticketing";
  height: 35px;
  border: 5px solid #1c141e;
}

nav a {
  text-decoration: none;
}

.navLeft {
  position: relative;
  float: left;
  top: 3px;
}

.navRight {
  position: relative;
  float: right;
}

nav span {
  color: #b35aca;
  text-decoration: none;
}

.aboutMe img {
  width: 500px;
}

nav img {
  height: 30px;
  vertical-align: middle;
  transition: all 200ms ease;
  border-radius: 0;
}

nav img:hover {
  transform: scale(0.8);
}

.smallIcon {
  height: 35px;
  image-rendering: pixelated;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.blogLayout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  padding: 40px 50px;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  max-width: fit-content;
  margin: 0;
}

.headingSS4 {
  font-family: "ss4";
}

.headingTicketing {
  font-family: "Ticketing";
  margin-left: 10px;
  color: #b35aca;
}

.contentTicketing {
  font-family: "Ticketing";
  color: #b35aca;
}

.subheading {
  font-size: 24px;
  margin: 30px 0px -30px 0px;
}

.subheading a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition:
    all 200ms ease;
  transform-origin: left center;
}

.subheading a:hover {
  text-decoration: underline;
  transform: scale(0.9);
}

.aboutMe a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition:
    all 200ms ease;
  transform-origin: left center;
}

.aboutMe a:hover {
  text-decoration: underline;
  transform: scale(0.9);
}

.blogPostCard {
  font-family: "ss4";
  background-color: #3a2441;
  padding: 5px 25px 5px 25px;
  margin-top: 20px;
  border-radius: 5px;
}

.blogPostDate {
  display: block;
  margin-top: 8px;
  font-family: "ss4";
  font-size: 0.95rem;
  color: #b35aca;
}

.blogPostCard h3,
h4 {
  font-family: "ss4";
}

.blogPostCard a {
  color: white;
  display: inline-block;
  text-decoration: none;
  transition:
    transform 200ms ease,
    text-decoration-color 200ms ease;
  transform-origin: left center;
}

.blogPostCard a:hover {
  text-decoration: underline;
  transform: scale(0.9);
}

.blogPosts {
  flex: 1;
  max-width: 700px;
}

hr {
  border: 2px solid #b35aca;
  border-radius: 2px;
}

img {
  border-radius: 5px;
}

code {
  font-family: "JetBrains";
}

.content a {
  color: #b35aca;
  text-decoration: none;
  transition:
    transform 200ms ease,
    text-decoration-color 200ms ease;
  transform-origin: left center;
}

.content a:hover {
  text-decoration: underline;
  transform: scale(0.9);
}

.aboutMe h1 {
  font-size: 2.4rem;
  background-color: #3a2441;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
}

.aboutMe h1::before {
  content: "#";
  color: #b35aca;
}

.aboutMe h2 {
  font-size: 1.9rem;
  background-color: #3a2441;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
}

.aboutMe h2::before,
.comments h2::before {
  content: "##";
  color: #b35aca;
}

.aboutMe h3 {
  font-size: 1.5rem;
  background-color: #3a2441;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
}

.aboutMe h3::before {
  content: "###";
  color: #b35aca;
}

.mainIcon {
  color: white;
}

.mainIcon:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}